<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <module-name>tomee.sample</module-name>
    <display-name>tomee.sample</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.jsp?error=credentials</form-error-page>
        </form-login-config>
    </login-config>

    <!--
        <security-constraint>
            <display-name>Secure Area</display-name>
            <web-resource-collection>
                <web-resource-name>secure</web-resource-name>
                <url-pattern>/rest/*</url-pattern>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
            </web-resource-collection>
            <auth-constraint>
                <description>DynamicResourceAuthCons</description>
                <role-name>SFF_CONSULTATION_MODIFICATION</role-name>
            </auth-constraint>
        </security-constraint>

        <security-role>
            <role-name>SFF_CONSULTATION_MODIFICATION</role-name>
        </security-role>
    -->

    <error-page>
        <error-code>403</error-code>
        <location>/login.jsp?error=403</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/login.jsp?error=404</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/login.jsp?error=500</location>
    </error-page>
</web-app>